.fa-moon {
  color: #fdb73e;
  transform: rotate(270deg);
}

.fa-sun {
  color: #fdb73e;
  transform: rotate(270deg);
}

* {
  box-sizing: border-box;
}

.toggle-modifier {
  transform: rotate(90deg);
}

.label {
  background-color: var(--black);
  border-radius: 50px;
  display: flex;
  position: fixed;
  top: 110px;
  right: 10px;
  align-content: center;
  justify-content: space-between;
  padding: 6px;
  height: 31px;
  width: 60px;
  cursor: pointer;
  transition: all 0.2s linear;
  z-index: 2;
}

.ball {
  width: 25px;
  height: 25px;
  top: 3px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--white);
  transition: all 0.2s linear;
}
